@import 'normalize';
@import 'skeleton';
@import 'global';

$grey: #eee;

$header-height: 80px;

$italic-font-family: "Adobe Garamond Pro", Constantia, "Times New Roman", Times, serif;

$title-bar-height: 26px;
$close-button-height: 20px;
$close-button-width: 20px;
$close-button-margin: ($title-bar-height - $close-button-height) / 2;

body {
  padding-top: $title-bar-height;
}

#ninety-five {
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: -$title-bar-height;
  z-index: 1000;
  pointer-events: none;
  border-top: 2px ridge #eee;
  border-left: 2px ridge #eee;
  border-bottom: 2px ridge #ddd;
  border-right: 2px ridge #ddd;

  &::before {
    content: "⚠️ Exciting news coming soon!";
    display: block;
    height: $title-bar-height;
    text-align: left;
    line-height: 27px;
    font-weight: 600;
    color: white;
    padding-left: 5px;
    background: #000081;
    background: linear-gradient(to right, #02007f, #1a83ce);
  }

  &::after {
    content: "x";
    display: block;
    position: absolute;
    right: $close-button-margin;
    top: $close-button-margin;
    background-color: #bebebe;
    width: $close-button-width;
    height: $close-button-height;
    line-height: 15px;
    text-align: center;
    font-weight: 600;
    border: 2px outset;
    pointer-events: auto;
    cursor: pointer;
  }
}

.main-header {
  background-color: #fff;

  .main-nav,
  .secondary-nav {
    height: $header-height;
    line-height: $header-height;
  }

  .main-nav {
    float: left;

    .main-menu-list {
      list-style: none;
      margin-bottom: 0;
      float: left;

      .main-menu-item {
        float: left;
        margin-bottom: 0;
        position: relative;

        .main-menu-link {
          color: #222;
          font-weight: 600;
          letter-spacing: 0.2rem;
          margin-right: 2rem;
          font-size: 1.1rem;
          text-decoration: none;
          text-transform: uppercase;
          display: inline-block;
        }
      }
    }
  }

  .secondary-nav {
    float: right;

    .secondary-menu-list {
      list-style: none;
      margin-bottom: 0;
      float: right;

      .secondary-menu-item {
        float: right;
        margin-bottom: 0;

        .button {
          padding: 0 1rem;
        }
      }
    }
  }
}

@media (#{$bp-larger-than-phablet}) {
  .main-header {
    .main-nav {
      .main-menu-list {
        .main-menu-item {
          .main-menu-link {
            margin-right: 3rem;
          }
        }
      }
    }

    .secondary-nav {
      .secondary-menu-list {
        .secondary-menu-item {
          .button {
            padding: 0 3rem;
          }
        }
      }
    }
  }
}

.hero {
  text-align: center;
  background: #333;
  color: #fff;

  .container {
    padding: 150px 0;
  }

  .hero-headline {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin: {
      top: 0;
      left: auto;
      right: auto;
      bottom: 1.5rem;
    }
    padding-bottom: 1rem;
    display: inline-block;
    border-bottom: 1px solid #fff;
  }

  .hero-role {
    font-family: $italic-font-family;
    font-style: italic;
    letter-spacing: 0.1rem;
    margin: 0;
    font-size: 2rem;
  }
}

.content {
  padding-top: 100px;
  padding-bottom: 100px;

  .content-header {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    padding: {
      left: 2rem;
      right: 2rem;
      bottom: 0.5rem;
    }
    border-bottom: 1px solid #333;
  }
}

$photo-size: 200px;
$photo-border: 6px;

.photo {
  margin: 0 auto 2rem;
  width: $photo-size + $photo-border;
  height: $photo-size + $photo-border;
  border-radius: ($photo-size + $photo-border) / 2;
  border: $photo-border solid $grey;
  background: {
    image: url(../img/me.jpg);
    size: $photo-size $photo-size;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

  .photo {
    background-image: url(../img/me@2x.jpg);
  }
}

.about {

  .name {
    margin-bottom: 0;
    letter-spacing: 0.2rem;
    font-size: 2rem;
  }

  .location {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
  }
}

.resume-list {
  list-style: none;

  .resume-item {
    margin-bottom: 2.5rem;

    .information {
      text-align: left;

      .role,
      .degree,
      .school,
      .company,
      .details {
        margin-bottom: 0;
      }

      .role,
      .degree {
        text-transform: uppercase;
        font-weight: 600;
      }

      .company,
      .school {
        font-size: 1.4rem;
      }

      .icon {
        margin-bottom: -2px;
      }

      .details {
        font-size: 1.4rem;

        .dates {
          color: #333;
        }

        .location::before,
        .link::before {
          content: "|";
          color: #bcbcbc;
          padding: 0 0.5rem;
        }

        .link::before {
          display: none;
        }
      }

      .link {
        font-size: 1.4rem;
      }
    }

    .description {

      p:last-of-type {
        margin-bottom: 0;
      }

      .toolbox {

        span {
          background: $grey;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.2rem;
          padding: 0.3rem 0.5rem;
          white-space: nowrap;
        }
      }
    }
  }
}

@media (#{$bp-larger-than-phablet}) {
  .education-list {
    .education-item {
      .information {
        text-align: center;
      }
    }
  }
}

@media (#{$bp-larger-than-tablet}) {

  .experience-list {
    .experience-item {

      .information,
      .description {
        width: 48%;
      }

      .information {
        text-align: right;

        .link {
          margin-bottom: 0;
        }
      }

      .description {
        margin-left: 4%;
      }
    }
  }

  .education-list {
    .education-item {
      .information {
        text-align: center;
      }
    }
  }
}

.skills-list {
  list-style: none;
  font-size: 1.5rem;

  .skills-list {
    margin: 0;
  }

  li {
    margin: 0;
  }

  .skills-category {
    border-bottom: 1px solid $grey;
    font-weight: 600;
    margin: 0.5rem 0 0;
  }

  .skills-item {
    @extend .clearfix;

    &:hover {
      background-color: $grey;
    }

    .skill-title {
      @extend .u-pull-left;
    }

    .skill-rating {
      @extend .u-pull-right;

      // background-color: red;

      .icon-star {
        color: #b0b0b0;

        &.filled {
          color: #2077b2;
        }
      }

      &.stars-5 {
        .icon-star {
          @extend .icon-star.filled;
        }
      }

      &.stars-4 {
        .icon-star:nth-child(-n+4) {
          @extend .icon-star.filled;
        }
      }

      &.stars-3 {
        .icon-star:nth-child(-n+3) {
          @extend .icon-star.filled;
        }
      }

      &.stars-2 {
        .icon-star:nth-child(-n+2) {
          @extend .icon-star.filled;
        }
      }

      &.icon-stars-1 {
        .star:first-child {
          @extend .icon-star.filled;
        }
      }
    }
  }
}

@mixin column-width($width) {
  -webkit-column-width: $width;
     -moz-column-width: $width;
          column-width: $width;
}

@mixin column-gap($gap) {
  -webkit-column-gap: $gap;
     -moz-column-gap: $gap;
          column-gap: $gap;
}

@mixin column-break-inside($value) {
  -webkit-column-break-inside: $value;
     -moz-column-break-inside: $value;
          column-break-inside: $value;
}

.content > .skills-list {
  @include column-width(300px);
  @include column-gap(20px);

  & > li {
    @include column-break-inside(avoid);
    overflow: hidden;
    width: 100%;
  }
}

.languages-list {
  list-style: none;

  .languages-item {
    text-align: center;

    .language {
      margin-bottom: 0;
    }

    .level {
      @extend .italic;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 550px) {

  .languages-list {

    .languages-item {

      &:first-child {
        text-align: right;
      }

      &:last-child {
        text-align: left;
      }
    }
  }
}

.contacts-list {
  list-style: none;

  .contacts-item {

    .contact-type {
      margin-bottom: 0;
    }

    .contact-value {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 550px) {

  .contacts-list {

    .contacts-item {

      &:first-child {
        text-align: right;
      }

      &:last-child {
        text-align: left;
      }
    }
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.footer {
  background: $grey;
  color: #aaa;
  text-align: center;
  padding: 5rem 0;

  .footer-menu-list {
    list-style: none;
    text-align: center;

    .footer-menu-item {
      display: inline-block;
      margin: 0 2rem;
    }

    .footer-menu-link {
      color: #222;
      font-weight: 600;
      letter-spacing: 0.2rem;
      font-size: 11px;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;  
    }
  }

  .footer-social-list {
    list-style: none;
    text-align: center;
    height: 1.6rem;

    .footer-social-item {
      display: inline-block;
      margin: 0 10px;

      .footer-social-link {
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        text-decoration: none;

        .icon {
          font-size: 1.6rem;
        }
      }
    }
  }

  .copyright {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
  }
}

.centered-text {
  text-align: center;
}

.italic {
  font-family: $italic-font-family;
  font-style: italic;
}

.button {

  &.button-outline {
    color: #2077b2;
    background-color: #fff;
    border-color: #2077b2;

  }
}
